<%= content_for :html_head do %>
  <%= stylesheet_link_tag('cms/form_layout') %>
  <%= stylesheet_link_tag('cms/content_library') %>
<% end %>
<% page_title t(".page_title",:type=>"#{content_type.display_name}") %>
<% @toolbar_title = t(".toolbar_title",:type=>"#{content_type.display_name}") %>
<%= content_for :functions,  render(:partial => 'cms/blocks/toolbar') %>
<%= form_for(@block, :url => blocks_path, :html => {:multipart => true}) do |f| %>
  <%= f.cms_error_messages %>
  <%= render :partial => 'cms/shared/exception', :object => @exception if @exception %>
  <%= render :partial => 'cms/blocks/hidden_fields', :locals => {:f => f} %>
  <%= render :partial => block_form, :locals => {:f => f} %>
  <% unless @hide_buttons %>
    <div class="buttons">
      <%= save_and_publish_button(@block, content_type,:label=> t(".save_and_publish") )%>
      <%= lt_button_wrapper(f.submit("#{t '.save'}", :class => "submit", :tabindex => next_tabindex)) %>
    </div>
  <% end %>
<% end %>
